<div>
    <ul>
      <li class="dropdown">
        <nav>
        <a href="javascript:void(0)" class="dropbtn" routerLink="/menucontent/all-mobiles">Mobiles</a>
        </nav>
        <div class="dropdown-content">
          <ul>
            <li>Brands
              <ul class="sub-menu">
                <li>
                  <nav>
                    <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/nokia-mobiles">Nokia</a>
                  </nav>
                </li>
                <li>
                    <nav>
                      <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/samsung-mobiles">Samsung</a>
                    </nav>
                </li>
                <li>
                    <nav>
                      <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/apple-mobiles">Apple</a>
                    </nav>
                </li>
                <li>
                    <nav>
                      <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/mi-mobiles">Mi</a>
                    </nav>
                </li>
                <li>
                    <nav>
                      <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/oneplus-mobiles">One Plus</a>
                    </nav>
                </li>
                <li>
                  <nav>
                    <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/motorola-mobiles">Motorola</a>
                  </nav>
                </li>
                <li>
                  <nav>
                    <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/vivo-mobiles">Vivo</a>
                  </nav>
                </li>
                <li>
                  <nav>
                    <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/honor-mobiles">Honor</a>
                  </nav>
                </li>
              </ul>
            </li>
            <li>Categories
              <ul class="sub-menu">
                <li>
                  <nav>
                    <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/smart-phones">Smartphones</a>
                  </nav>
                </li>
                <li>
                  <nav>
                    <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/android-phones">Android Phones</a>
                  </nav>
                </li>
                <li>
                  <nav>
                    <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/apple-mobiles">Apple Phones</a>
                  </nav>
                </li>
                <li>
                  <nav>
                    <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/4G-mobiles">4G Mobiles</a>
                  </nav>
                </li>
                <li>
                  <nav>
                    <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/3G-mobiles">3G Mobiles</a>
                  </nav>
                </li>
                <li>
                  <nav>
                    <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/dual-sim-mobiles">Dual Sim Mobiles</a>
                  </nav>
                </li>
                <li>
                  <nav>
                    <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/selfie-phones">Selfie Phones</a>
                  </nav>
                </li>
                <li>
                  <nav>
                    <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/latest-mobiles">Latest Mobiles</a>
                  </nav>
                </li>
                <li>
                  <nav>
                    <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/most-popular-mobiles">Most Popular Mobiles</a>
                  </nav>
                </li>
              </ul>
            </li>
            <li>Prices
              <ul class="sub-menu">
                <li>
                  <nav>
                    <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/mobiles-less_than_5k">Less Than Rs.5000</a>
                  </nav>
                </li>
                <li>
                  <nav>
                    <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/mobiles-5k_to_10k">Rs.5000-Rs.10,000</a>
                  </nav>
                </li>
                <li>
                  <nav>
                    <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/mobiles-10k_to_15k">Rs.10,000-Rs.15,000</a>
                  </nav>
                </li>
                <li>
                  <nav>
                    <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/mobiles-15k_to_20k">Rs.15,000-Rs.20,000</a>
                  </nav>
                </li>  
                <li>
                  <nav>
                    <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/mobiles-above_20k">Above Rs.20,000</a>
                  </nav>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li class="dropdown">
        <nav>  
          <a href="javascript:void(0)" class="dropbtn" routerLink="/menucontent/all-laptops">Laptops</a>
        </nav>
          <div class="dropdown-content">
              <ul>
                <li>Brands
                  <ul class="sub-menu">
                    <li>
                      <nav>
                        <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/apple-laptops">Apple</a>
                      </nav>
                    </li>
                    <li>
                      <nav>
                        <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/samsung-laptops">Samsung</a>
                      </nav>
                    </li>
                    <li>
                      <nav>
                        <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/sony-laptops">Sony</a>
                      </nav>
                    </li>
                    <li>
                      <nav>
                        <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/dell-laptops">Dell</a>
                      </nav>
                    </li>
                    <li>
                      <nav>
                        <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/toshiba-laptops">Toshiba</a>
                      </nav>
                    </li>
                    <li>
                      <nav>
                        <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/hp-laptops">HP</a>
                      </nav>
                    </li>
                    <li>
                      <nav>
                        <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/lenovo-laptops">Lenovo</a>
                      </nav>
                    </li>
                    <li>
                      <nav>
                        <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/acer-laptops">Acer</a>
                      </nav>
                    </li>
                    <li>
                      <nav>
                        <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/asus-laptops">Asus</a>
                      </nav>
                    </li>
                    <li>
                      <nav>
                        <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/microsoft-laptops">Microsoft</a>
                      </nav>
                    </li>
                  </ul>
                </li>
                <li>Categories
                  <ul class="sub-menu">
                    <li>
                      <nav>
                        <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/windows-8-laptops">Windows 8</a>
                      </nav>
                    </li>
                    <li>
                      <nav>
                        <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/windows-10-laptops">Windows 10</a>
                      </nav>
                    </li>
                    <li>
                      <nav>
                        <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/gaming-laptops">Gaming Laptops</a>
                      </nav>
                    </li>
                    <li>
                      <nav>
                        <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/intel-core-i7-laptops">Intel Core i7</a>
                      </nav>
                    </li>
                    <li>
                      <nav>
                        <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/intel-core-i5-laptops">Intel Core i5</a>
                      </nav>
                    </li>
                    <li>
                      <nav>
                        <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/intel-core-i3-laptops">Intel Core i3</a>
                      </nav>
                    </li>
                    <li>
                      <nav>
                        <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/laptops-with-backlit-keyboard">Laptops with Backlit Keyboard</a>
                      </nav>
                    </li>
                    <li>
                      <nav>
                        <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/touch-screen-laptops">Touch Screen Laptops</a>
                      </nav>
                    </li>
                    <li>
                      <nav>
                        <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/latest-laptops">Latest Laptops</a>
                      </nav>
                    </li>
                    <li>
                      <nav>
                        <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/most-popular-laptops">Most Popular Laptops</a>
                      </nav>
                    </li>  
                  </ul>
                </li>
                <li>Prices
                  <ul class="sub-menu">
                    <li>
                      <nav>
                        <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/laptops-less_than_20k">Less Than Rs.20,000</a>
                      </nav>
                    </li>
                    <li>
                      <nav>
                        <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/laptops-20k_to_30k">Rs.20,000-Rs.30,000</a>
                      </nav>
                    </li>
                    <li>
                      <nav>
                        <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/laptops-30k_to_40k">Rs.30,000-Rs.40,000</a>
                      </nav>
                    </li>
                    <li>
                      <nav>
                        <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/laptops-40k_to_50k">Rs.40,000-Rs.50,000</a>
                      </nav>
                    </li>  
                    <li>
                      <nav>
                        <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/laptops-50k_to_60k">Rs.50,000-Rs.60,000</a>
                      </nav>
                    </li>
                    <li>
                      <nav>
                        <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/laptops-above_60k">Above Rs.60,000</a>
                      </nav>
                    </li>
                  </ul>
                </li>
                </ul>
            </div>
        </li>
        <li class="dropdown">
            <nav>
              <a href="javascript:void(0)" class="dropbtn" routerLink="/menucontent/all-televisions">Televisions</a>
            </nav>
            <div class="dropdown-content">
                <ul>
                  <li>Brands
                    <ul class="sub-menu">
                      <li>
                        <nav>
                          <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/sony-televisions">Sony</a>
                        </nav>
                      </li>
                      <li>
                        <nav>
                          <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/samsung-televisions">Samsung</a>
                        </nav>
                      </li>
                      <li>
                        <nav>
                          <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/mi-televisions">Mi</a>
                        </nav>
                      </li>
                      <li>
                        <nav>
                          <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/panasonic-televisions">Panasonic</a>
                        </nav>
                      </li>
                      <li>
                        <nav>
                          <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/lg-televisions">LG</a>
                        </nav>
                      </li>
                      <li>
                        <nav>
                          <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/micromax-televisions">Micromax</a>
                        </nav>
                      </li>
                      <li>
                        <nav>
                          <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/onida-televisions">Onida</a>
                        </nav>
                      </li>
                      <li>
                        <nav>
                          <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/videocon-televisions">Videocon</a>
                        </nav>
                      </li>
                      <li>
                        <nav>
                          <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/sansui-televisions">Sansui</a>
                        </nav>
                      </li>
                      <li>
                        <nav>
                          <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/philips-televisions">Philips</a>
                        </nav>
                      </li>
                    </ul>
                  </li>
                  <li>Categories
                    <ul class="sub-menu">
                      <li>
                        <nav>
                          <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/smart-televisions">Smart TVs</a>
                        </nav>
                      </li>
                      <li>
                        <nav>
                          <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/curved-televisions">Curved TVs</a>
                        </nav>
                      </li>
                      <li>
                        <nav>
                          <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/3D-televisions">3D TVs</a>
                        </nav>
                      </li>
                      <li>
                        <nav>
                          <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/full-hd-televisions">Full HD Resolution</a>
                        </nav>
                      </li>
                      <li>
                        <nav>
                          <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/upto-23inch-televisions">Upto 23"</a>
                        </nav>
                      </li>
                      <li>
                        <nav>
                          <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/24inch-to-39inch-televisions">24"-39"</a>
                        </nav>
                      </li>
                      <li>
                        <nav>
                          <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/40inch-to-54inch-televisions">40"-54"</a>
                        </nav>
                      </li>
                      <li>
                        <nav>
                          <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/above-55inch-televisions">55" and Above</a>
                        </nav>
                      </li>
                      <li>
                        <nav>
                          <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/latest-televisions">Latest TVs</a>
                        </nav>
                      </li>
                      <li>
                        <nav>
                          <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/most-popular-televisions">Most Popular TVs</a>
                        </nav>
                      </li>
                    </ul>
                  </li>
                  <li>Prices
                    <ul class="sub-menu">
                      <li>
                        <nav>
                          <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/televisions-less_than_20k">Less Than Rs.20,000</a>
                        </nav>
                      </li>
                      <li>
                        <nav>
                          <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/televisions-20k_to_40k">Rs.20,000-Rs.40,000</a>
                        </nav>
                      </li>
                      <li>
                        <nav>
                          <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/televisions-40k_to_70k">Rs.40,000-Rs.70,000</a>
                        </nav>
                      </li>
                      <li>
                        <nav>
                          <a href="javascript:void(0)" class="menuitem" routerLink="/menucontent/televisions-above_70k">Above Rs.70,000</a>
                        </nav>
                      </li>  
                    </ul>
                  </li>
                  </ul>
              </div>
        </li>
    </ul>
  </div>