<div class="myTopnav">
    <a class="nodrop" href="#home">Home</a>
    <div class="dropdown">
      <button class="dropbtn">Mobiles </button>
      <div class="dropdown-content" >
        <a href="#" routerLink="/androidmobiles">Apple</a>
        <a href="#">Mi</a>
        <a href="#">Motorola</a>
        <a href="#">Nokia</a>
        <a href="#">Oneplus</a>
        <a href="#">Opo</a>
        <a href="#">Samsung</a>
        <a href="#">Vivo</a>
      </div>
    </div> 
    <div class="dropdown">
        <button class="dropbtn">Laptop
        </button>
        <div class="dropdown-content" >
          <a href="#">Apple</a>
          <a href="#">Mi</a>
          <a href="#">Motorola</a>
          <a href="#">Nokia</a>
          <a href="#">Oneplus</a>
          <a href="#">Opo</a>
          <a href="#">Samsung</a>
          <a href="#">Vivo</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Tablet
        </button>
        <div class="dropdown-content" >
          <a href="#">Apple</a>
          <a href="#">Mi</a>
          <a href="#">Motorola</a>
          <a href="#">Nokia</a>
          <a href="#">Oneplus</a>
          <a href="#">Opo</a>
          <a href="#">Samsung</a>
          <a href="#">Vivo</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Television 
        </button>
        <div class="dropdown-content" >
          <a href="#">Apple</a>
          <a href="#">Mi</a>
          <a href="#">Motorola</a>
          <a href="#">Nokia</a>
          <a href="#">Oneplus</a>
          <a href="#">Opo</a>
          <a href="#">Samsung</a>
          <a href="#">Vivo</a>
        </div>
      </div>
    <a class = "nodrop" href="#offers">Offers</a>
    <a class = "nodrop" href="#contact">Contact</a>
    <div class="row" >
    <div class="col">
      <input type="text" class="form-control" placeholder="Amazon Search">
    </div>
    </div>
  </div>