<div>
  <ul>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Mobiles</a>
      <div class="dropdown-content">
        <a>Brands</a>
        <a>Categories</a>
        <a>Price</a>
      </div>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Laptops</a>
        <div class="dropdown-content">
            <a>Brands</a>
            <a>Categories</a>
            <a>Price</a>
        </div>
      </li>
      <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Televisions</a>
          <div class="dropdown-content">
              <a>Brands</a>
              <a>Categories</a>
              <a>Price</a>
          </div>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Tabets</a>
        <div class="dropdown-content">
          <a>Brands</a>
          <a>Categories</a>
          <a>Price</a>
        </div>
      </li>
      <li>
        <a href="javascript:void(0)" class="dropbtn">Deals</a>
      </li>
  </ul>
</div>