
.header{
  height: 75px;
  width: 100%;
  padding: 10px;
  background: rgb(189, 200, 253);
  color:  rgb(189, 200, 253);
}
.header logo{
    height: 10px;
    float: left;
  }

  .header element3{
    padding-top: 20%; 
    height: 20px;
    float: left;
  }

.header btn-checkout{
    float: right;
  }

  #element1 {padding-right : 20px; float:left; width:30%;  }
  #element2 {float:left; width: 70%}
  #element3 { height: 20px; float:left; }

  .dropdown-fix {
    margin-top: 17.5px;
    margin-left: 1px;
  }
  .btn-outline-primary{
    font-size: 10px;
    border-radius: 0;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    color: #949494;
    border-color: #949494;
  }

  .dropdown-menu {
    font-size: 9px;
    
}
