<h2>Latest Laptop Details are : </h2>
<div *ngFor = "let laptopValues of latest_laptops">
    <div><span>Model : </span>{{laptopValues.model}}</div>
    <div><span>Brand : </span>{{laptopValues.brand}}</div>
    <div><span>RAM : </span>{{laptopValues.ram}}</div>
    <div><span>Processor : </span>{{laptopValues.processor}}</div>
    <div><span>Hard Disk Capacity : </span>{{laptopValues.hd_capacity}}</div>
    <div><span>Operating System : </span>{{laptopValues.operating_system}}</div>
    <div><span>Screen Size : </span>{{laptopValues.screen_size}}</div>
    <div><span>Best Price : </span>{{laptopValues.best_price}}</div>
    <div><span>Offer : </span>{{laptopValues.offer}}</div>
    <div><span>Rating : </span>{{laptopValues.rating}}</div>
    <div><hr></div>
</div>