<h2>Upto 23" TV Details are : </h2>
<div *ngFor = "let tvValues of upto_twentyThree_inch">
    <div><span>Model : </span>{{tvValues.model}}</div>
    <div><span>Brand : </span>{{tvValues.brand}}</div>
    <div><span>Screen Size : </span>{{tvValues.screen_size}}</div>
    <div><span>Resolution : </span>{{tvValues.resolution}}</div>
    <div><span>Refresh Rate : </span>{{tvValues.refresh_rate}}</div>
    <div><span>Model Year : </span>{{tvValues.model_year}}</div>
    <div><span>Image : </span>{{tvValues.image_url}}</div>
    <div><span>Best Price : </span>{{tvValues.best_price}}</div>
    <div><span>Offer : </span>{{tvValues.offer}}</div>
    <div><span>Rating : </span>{{tvValues.rating}}</div>
    <div><hr></div>
</div>