.column {
    float: left;
    width: 25%;
    padding: 5px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row{
    background-color:  #607D8B;
    margin-right: auto;
    margin-left: auto;
    height: 220px;
  }
 