
  <div class="column" style="padding-left: 50px;float: left;" >
    <a routerLink="/androidmobiles">
     <img src="assets/img/mobile.jpg" style="height:180px"/>
   </a>
  </div>
 
  <div class="column">
      <a routerLink="/androidmobiles">
    <img src="assets/img/laptop.jpg"  style="height:180px"/>
  </a>
  </div>
  <div class="column">
      <a routerLink="/androidmobiles">
    <img src="assets/img/tab.jpg"  style="padding-left: 40px; height:180px ; width: 220px"/></a>
  </div>

  <div class="column" style="padding-right: 200px">
      <a routerLink="/androidmobiles">
    <img src="assets/img/tv.jpg"  style=" height:180px ; width: 220px"/></a>
  </div>

