<div class="row">
  <div class="column" style="padding-right:2px">
    <img src="assets/img/redmi6Pro.jpg" alt="Snow" style="width:100%; height:210px">
  </div>
  <div class="column">
    <img src="assets/img/laptop.jpg" alt="Snow" style="width:100%; height:210px">
  </div>
  <div class="column">
    <img src="assets/img/tab.jpg" alt="Forest" style="width:100%; height:210px">
  </div>
  <div class="column">
    <img src="assets/img/tv.jpg" alt="Mountains" style="width:100%; height:210px">
  </div>
</div>