<h2>Nokia Mobile Details are : </h2>
<div *ngFor = "let mobileValues of nokia_mobiles">
    <div><span>Model : </span>{{mobileValues.model}}</div>
    <div><span>Brand : </span>{{mobileValues.brand}}</div>
    <div><span>Color : </span>{{mobileValues.color}}</div>
    <div><span>RAM : </span>{{mobileValues.ram}}</div>
    <div><span>Battery Capacity : </span>{{mobileValues.battery_capacity}}</div>
    <div><span>Screen Size : </span>{{mobileValues.screen_size}}</div>
    <div><span>Image : </span>{{mobileValues.image_url}}</div>
    <div><span>Best Price : </span>{{mobileValues.best_price}}</div>
    <div><span>Offer : </span>{{mobileValues.offer}}</div>
    <div><span>Rating : </span>{{mobileValues.rating}}</div>
    <div><hr></div>
</div>